##ECLAT 
Equivalence Class Clustering and Bottom-Up Lattice Traversal

Passo 1 â€” Listar o Transaction ID (TID) set

In [7]:
transacoes = [
    ['cerveja', 'vinho', 'queijo'],
    ['cerveja', 'batata-frita'],
    ['ovos', 'flores', 'manteiga', 'queijo'],
    ['ovos', 'flores', 'manteiga', 'cerveja', 'batata-frita'],
    ['vinho', 'queijo'],
    ['batata-frita'],
    ['ovos', 'flores', 'manteiga', 'vinho', 'queijo'],
    ['ovos', 'flores', 'manteiga', 'cerveja', 'batata-frita'],
    ['vinho', 'cerveja'],
    ['cerveja', 'batata-frita'],
    ['manteiga', 'ovos'],
    ['cerveja', 'batata-frita'],
    ['flores', 'ovos'],
    ['cerveja', 'batata-frita'],
    ['ovos', 'flores', 'manteiga', 'vinho', 'queijo'],
    ['cerveja', 'vinho', 'batata-frita', 'queijo'],
    ['vinho', 'queijo'],
    ['cerveja', 'batata-frita'],
    ['vinho', 'queijo'],
    ['cerveja', 'batata-frita']
]

In [8]:
import pandas as pd

# Convertemos a lista em um DataFrame
data = pd.DataFrame(transacoes)
data

               0             1             2        3             4
0        cerveja         vinho        queijo     None          None
1        cerveja  batata-frita          None     None          None
2           ovos        flores      manteiga   queijo          None
3           ovos        flores      manteiga  cerveja  batata-frita
4          vinho        queijo          None     None          None
5   batata-frita          None          None     None          None
6           ovos        flores      manteiga    vinho        queijo
7           ovos        flores      manteiga  cerveja  batata-frita
8          vinho       cerveja          None     None          None
9        cerveja  batata-frita          None     None          None
10      manteiga          ovos          None     None          None
11       cerveja  batata-frita          None     None          None
12        flores          ovos          None     None          None
13       cerveja  batata-frita          None     None          None
14          ovos        flores      manteiga    vinho        queijo
15       cerveja         vinho  batata-frita   queijo          None
16         vinho        queijo          None     None          None
17       cerveja  batata-frita          None     None          None
18         vinho        queijo          None     None          None
19       cerveja  batata-frita          None     None          None

Passo 2 - Filtro com apoio mÃ­nimo

O passo seguinte Ã© decidir sobre o valor do Suporte MÃ­nimo, que servirÃ¡ para filtrar produtos que nÃ£o ocorrem com uma frequÃªncia suficiente para que sejam considerados.

In [41]:
# itemSETS
# NÃ£o queremos produtos Ãºnicos
min_n_products = 2

# Vamos estabelecer o suporte mÃ­nimo, expresso em porcentagem

min_support = 7/len(transacoes)  # percentual mÃ­nimo de ocorrÃªncia das combinaÃ§Ãµes

#nÃ£o temos limites para a quantidade de regras de associaÃ§Ã£o
# por isso, vamos considerar a transaÃ§Ã£o mais longa

max_length = max([len(x) for x in transacoes])

In [37]:
7/len(transacoes)

0.35

In [19]:
!pip install pyECLAT
from pyECLAT import ECLAT

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyECLAT in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.64.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)

Passo 3 - Treinar o modelo

In [42]:
# criamos uma instÃ¢ncia para eclat
my_eclat = ECLAT(data=data, verbose=True)

# treinamos o algoritmo
rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_n_products,
                                           max_combination=max_length)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 8/8 [00:00<00:00, 805.82it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 8/8 [00:00<00:00, 71240.83it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 8/8 [00:00<00:00, 2764.87it/s]

Combination 2 by 2

10it [00:00, 358.19it/s]

Combination 3 by 3

10it [00:00, 410.23it/s]

Combination 4 by 4

5it [00:00, 365.14it/s]

Combination 5 by 5

1it [00:00, 117.39it/s]

In [43]:
print(rule_supports)

{'cerveja & batata-frita': 0.45, 'queijo & vinho': 0.35}

Compreendendo o resultado: dentro das transaÃ§Ãµes realizadas, existem duas combinaÃ§Ãµes de produtos que sÃ£o relativamente fortes. Ã‰ comum comprarem queijo e vinho juntos e cerveja e batata-frita.