**Meu primeiro texto**

# NOTEBOOK 1

## 1) Conceitos básicos

https://pypi.org/

O Python Package Index (PyPI) é um repositório de software (incluindo bibliotecas) para a linguagem de programação Python.

PyPI ajuda você a encontrar e instalar software desenvolvido e compartilhado pela comunidade Python

### 1.1) Instalando bibliotecas

In [ ]:
!pip install numpy  #instala a biblioteca Numpy
!pip install pandas #instala a biblioteca pandas

Numpy - http://www.numpy.org

Numerical Python (NumPy) é a base do processamento numérico em Python. Possui recursos para o processamento rápido de arrays.

pandas - http://pandas.pydata.org

pandas pretende ser o bloco fundamental de construção de alto nível para fazer análises de dados práticos e do mundo real em Python

### 1.2) "Olá Mundo!" no Python

In [ ]:
print("Olá mundo")

### 1.3) Input() e print()

In [ ]:
nome = input("Informe um nome:")  # input - após rodar o comando, aperte o Enter para que a variável receba o valor digitado

In [ ]:
print("Olá,", nome)

In [ ]:
print(f"Olá, {nome}")  # f é um comando para formatação

In [ ]:
x = input('Enter your name:')
print('Olá, ' + x)

### 1.4) Operadores aritméticos

In [ ]:
resultado = 11%3  # resto da divisão de 11 por 3
print(resultado)

In [ ]:
2+35

In [ ]:
(20+80)/5*2**2

In [ ]:
2**3 # potenciação ou exponenciação: base ** expoente

### 1.5) Função print() com f e str.format()

In [ ]:
print("Meu nome é", nome, "e a variável resultado vale:", resultado)

In [ ]:
print(f"Meu nome é {nome} e a variável resultado vale: {resultado}")

In [ ]:
print("Meu nome é {} e a variável resultado vale: {}".format(nome, resultado))

In [ ]:
print("O Aprendizado de Máquina fornece aos {} a habilidade de aprender {}".format("sistemas", "automaticamente"))

In [ ]:
print("{2} tem uma amiga chamada {0} e uma irmã chamada {1}". format("Ana", "Milena", "Tulipa"))

###1.6 Atribuindo valores a variáveis

In [ ]:
nota_mia = 8
nota_fred = 9.5
primeiro_nome = "Maria"

In [ ]:
print(nota_fred)

## 2) Listas

Tipo de dado com uma sequência ordenada de valores ou vazia. Podem ser de tipos diferentes

### Lista Vazia

In [ ]:
# comandos para criar listas vazias

lista_vazia = []  
lista_vazia = list()

In [ ]:
type(lista_vazia)  # type() retorna o tipo da variável

### Listas de números

In [ ]:
numeros = [5, 8.3, 9, 4, 5000, 2]

In [ ]:
type(numeros)

### Listas de strings

In [ ]:
nomes = ["Mia", "Fred", "Jorge", "Zelda", "Phoebe"]

In [ ]:
type(nomes)

In [ ]:
alunos = ["Mia", "Fred", "Zelda", "Mia", "Jorge", "Jorge", "Davi", "Mia"]

In [ ]:
notas = [10, 7, 150, 6, 9, 8.5, 8]

In [ ]:
notas[2] = 6  #atribuindo um novo valor a um item da lista
notas

### Operação com Sequências

####  Verificar se um item está na lista - comando **in**

In [ ]:
"Zelda" in alunos

In [ ]:
"Rony" in alunos

In [ ]:
alunos

In [ ]:
"mia" in alunos  # por quê?

In [ ]:
10 in notas

Uma observação: booleanas são consideradas um tipo numérico em Python. Isto significa que são números para todos os fins e propósitos. Em outras palavras, você pode aplicar operações aritméticas às *Booleans*, e também pode compará-las a números:

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
print(True * (False/True))

print(True * (True + True))

In [ ]:
True + False + 2 * True

#### Verificar se um item não está na lista **not in**

In [ ]:
"Rony" not in alunos

#### Acessar uma posição na lista

In [ ]:
alunos

In [ ]:
alunos[0]  # Python é indexado do 0

In [ ]:
alunos[7]

In [ ]:
alunos[-1]  # último elemento

#### Recuperar um fatia da lista (começando a entender o SLICING)

In [ ]:
alunos

In [ ]:
alunos[1:] # da posição 1 ao final

In [ ]:
alunos[:5] # do início (posição 0) à posição 4 (5-1)

#### Replicar a lista dando um passo k

In [ ]:
print(alunos)

In [ ]:
alunos[1:8:2] # passo = 2

#### Tamanho da Lista
len()

In [ ]:
len(alunos) #retorna a quantidade de elementos na lista

In [ ]:
len("O almoço estava bom")

#### Concatenando uma lista

In [ ]:
alunos

In [ ]:
novos_alunos = alunos + ["Andrea", "Marcela"]  # Criamos uma nova lista a partir da concatenação de duas listas
print(novos_alunos)

In [ ]:
frutas = ['banana', 'maça']
legumes = ['jiló', 'chuchu']

In [ ]:
lista_compras = frutas + legumes  # Criamos uma nova lista a partir da concatenação de duas listas
print(lista_compras)

#### Modificando Listas

##### APPEND() 

Adiciona qualquer valor completo, por exemplo, se enviarmos uma string, ele adiciona a string, se enviarmos uma lista, ele adiciona a lista inteira ao invés de seus itens um a um.

In [ ]:
# Cria uma lista vazia.
lista = []

# Adiciona elementos no final da lista.
lista.append("P")
lista.append("Y")
lista.append("T")
lista.append("H")
lista.append("O")
lista.append("N")

print(lista)

In [ ]:
frutas.append("melancia")
print(frutas)

In [ ]:
frutas.append(['uva', 'laranja'])

In [ ]:
print(frutas)

In [ ]:
len(frutas)

In [ ]:
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.append(['açucar', 'fermento'])
print(bolo)

Perceba que o append adicionou a lista ['açucar', 'fermento'] à lista bolo. Mas talvez desejássemos adicionar 'açucar' e 'fermento' como elementos da lista bolo, e não como uma lista dentro de uma lista. O extend nos permite fazer isso.

In [ ]:
bolo = ['farinha de trigo', 'ovo', 'leite', 'manteiga']
bolo.extend(['açucar', 'fermento'])
print(bolo)

##### EXTEND() 

Adiciona itens de uma estrutura iterável, por exemplo, se enviarmos um objeto puro, ele não sabe como adicionar, porém, se enviarmos esse mesmo objeto dentro de uma lista, ele varrerá a lista e adicionará os objetos dentro da lista, um a um.

In [ ]:
linguagens = ["C", "Java", "Julia"]

In [ ]:
linguagens.extend(["Python", 'Scala'])

##### INSERT()

A função append() sempre insere elementos no final da lista. Isso é bom por questões de desempenho. É mais rápido inserir elementos no final de uma lista porque não precisamos percorrer a lista procurando a posição onde o elemento deve ser inserido. Mas também é possível inserir elementos em posições específicas da lista, usando a função insert().

In [ ]:
lista = ['P', 'T', 'H', 'N']
lista.insert(1, "Y")
lista.insert(4, "O")

print(lista)

##### Replicar a lista n vezes

In [ ]:
linguagens * 2

##### Menor elemento da lista
MIN()

In [ ]:
notas

In [ ]:
min(notas)

In [ ]:
print(linguagens)

In [ ]:
min(linguagens)

##### Maior elemento da lista
MAX()

In [ ]:
max(linguagens)

##### Número de ocorrências de um elemento na lista
 COUNT()

In [ ]:
alunos

In [ ]:
alunos.count("Mia")

##### Remover um item da lista
DEL, REMOVE(), POP()

**del list_name[index]**      # para excluir um valor único de acordo com o índice apresentado

**del list_name**      # para excluir a lista inteira

A palavra-chave del é usada para apagar objetos. Em Python tudo é um objeto, portanto a palavra-chave del também pode ser usada para excluir variáveis, listas ou partes de uma lista, etc.

In [ ]:
numbers = [1, 2, 3, 2, 3, 4, 5]

In [ ]:
del numbers[2]  # Excluíra o item na posição 2 da lista
print(numbers)

As palavras-chave são algumas palavras predefinidas e reservadas em python

In [ ]:
del numbers[-1] 
print(numbers)

In [ ]:
del numbers

In [ ]:
#print(numbers)

**list_name.remove(valor)** UTILIZA O VALOR DO ELEMENTO PARA REMOVÊ-LO DA LISTA

In [ ]:
numbers = [1, 2, 3, 2, 3, 4, 5]

In [ ]:
numbers.remove(3) # remove a 1a ocorrência do valor 3
print(numbers)

In [ ]:
numbers.remove(2) 
print(numbers)

In [ ]:
numbers.remove(5) 
print(numbers)

**list_name.pop(índice)**  UTILIZA O ÍNDICE PARA REMOVER O ELEMENTO DA LISTA

O método pop(), assim como del, elimina o valor em um determinado índice. Mas o método pop() retorna o valor deletado da lista.

In [ ]:
numbers = [1, 2, 3, 2, 3, 4, 5]

In [ ]:
numbers.pop(3) # remove o objeto na posição indicada
print(numbers)

In [ ]:
valor_removido = numbers.pop(-1)

In [ ]:
print(numbers)
print(valor_removido)

In [ ]:
print(frutas)

In [ ]:
removido = frutas.pop(3)
removido

In [ ]:
print(frutas)

#### Alterar um valor da lista

In [ ]:
frutas[0] = "goiaba"
frutas

In [ ]:
frutas[2] = "pitaya"
frutas

#### Ordenar 
**sorted()**

In [ ]:
numbers = [6, 9, 3, 1]

In [ ]:
numbers_sorted = sorted(numbers)  # cria uma nova lista ordenada
numbers_sorted

In [ ]:
numbers  # lista original permanece a mesma

In [ ]:
names = ['Harry', 'Simone', 'Allan', 'Marcos']

In [ ]:
sorted(names)

In [ ]:
sorted(names, reverse=True)

In [ ]:
sorted(frutas)

In [ ]:
frutas.index('pitaya')

### Tabela

In [ ]:
""""
cpf nome idade
000 Alfredo 53
111 Ícaro   35
222 Davi    40
333 Joria   53
444 Cristine 30
"""

In [ ]:
tabela_alunos = [['000', 'Alfredo', 53], 
                 ['111', 'Ícaro',34], 
                 ['222', 'Davi', 40]]

In [ ]:
tabela_alunos

In [ ]:
tabela_alunos[1][2] = 35   # Alterando o valor de um elemento da tabela (posição: linha 1 e coluna )
tabela_alunos

In [ ]:
tabela_alunos.append(["333", "Joria", 53])  # Acrescentando uma linha à tabela
tabela_alunos

In [ ]:
tabela_alunos.extend([["444", "Cristine", 30]]) # percebam que para usar extend() usamos [[]]
tabela_alunos

In [ ]:
tabela_alunos + [["555", "Lucas", 31]]

In [ ]:
print(tabela_alunos)
print(len(tabela_alunos))

## 3) Tuplas 

são imutáveis

In [ ]:
# tupla_vazia = ()
tupla_vazia = tuple()

In [ ]:
type(tupla_vazia)

In [ ]:
aluno = ("Alfredo", 53, 1.75)

In [ ]:
type(aluno)

In [ ]:
aluno[2]

In [ ]:
aluno.index("Alfredo") # retorna o índice do objeto

In [ ]:
1.75 in aluno

## 4) Range

In [ ]:
list(range(0,11))  # de 0 a 10

In [ ]:
list(range(0, 21, 2)) # pares de 0 a 20

In [ ]:
list(range(1, 22, 2)) # ímpares de 1 a 19

#### Construir um intervalo de 1 à 100 só com os multiplos de 4

In [ ]:
print(list(range(4, 101, 4)))

In [ ]:
list(range(10, 0, -1)) # sequência de 1 a 10 invertida

In [ ]:
list(range(20, -1, -2)) # Sequência de 0 a 20 invertida

## 5) Dicionários

In [ ]:
dicionario_vazio = {}
dicionario_vazio = dict()

In [ ]:
type(dicionario_vazio)

In [ ]:
alunos = {"Alfredo": 38, "Ícaro":34}

In [ ]:
alunos['Alfredo']

In [ ]:
alunos['Ícaro'] = 80

In [ ]:
alunos