# NOTEBOOK 2

### Dicionários

Os dicionários são coleções de itens e seus elementos são armazenados de forma não ordenada.

Seus elementos contém uma chave e valor, isto é:

Uma chave utilizada para indexar (posicionar, localizar) determinado elemento no dicionário e o seu valor.

Este valor aceita diversos tipos: listas, outros dicionários, inteiros, strings e etc.

A sintaxe básica de um dict é: {'chave': 'valor'}. 

Utilizam-se as chaves { } para delimitar o dicionário e a chave é separada do valor por dois pontos

* Criar um dicionário

In [ ]:
#(), tuple()
#[], list()
dicionario_vazio = {}
dicionario_vazio = dict()
type(dicionario_vazio)

In [ ]:
presidentes = {("Neves", "Tancredo"): 1985, ("Sarney", "José"):1985, ("Collor de Mello", "Fernando"): 1990, ("Franco", "Itamar"): 1992, ("Cardoso", "Fernando Henrique"): 1995, ("Silva", "Luis Inacio Lula da"):2003}

In [ ]:
print(presidentes)

In [ ]:
notas = {"Filipe": [5, 9], "Davi": [7,7], "Lucas": [3, 5]}

In [ ]:
notas

* Acessar um valor de um dicionário usando uma chave

In [ ]:
"Davi" in notas   # O aluno "Davi" está no dicionário "notas"?

In [ ]:
notas["Lucas"]  # Quais são as notas do Davi?

In [ ]:
notas["Lucas"][0]

* Adicionar um par ao dicionário

In [ ]:
notas["Flávio"] = [10, 8]

In [ ]:
notas

* Alterar o valor associado a uma chave

In [ ]:
notas["Flávio"] = [10, 8, 9]

In [ ]:
notas

* POP(  )

In [ ]:
#valor = lista.pop(0)
#lista.remove(3)

In [ ]:
valor = notas["Flávio"].pop(2)  # exclui a nota de índice 2 do objeto "Flávio" e atribui este valor à variável "valor"

In [ ]:
valor

In [ ]:
notas  # reparem a difererença entre os dois registros de "Flávio"

In [ ]:
notas.pop("Lucas")

In [ ]:
notas

* UPDATE( )

Atualizar mais de um valor em um dict

In [ ]:
notas.update({'Flávio': [10, 8], "Davi": [7, 9]})

In [ ]:
notas

* Recuperar todas as chaves do dicionário

In [ ]:
notas.keys() # note que um dicionário não tem ordem

In [ ]:
list(notas.keys()) # retorna uma lista com as chaves do dicionário

In [ ]:
lista_alunos = list(notas.keys()) # atribui uma lista com as chaves do dicionário à lista "lista_alunos"

In [ ]:
lista_alunos

* Recuperar todos os valores do dicionário

In [ ]:
notas.values()

In [ ]:
list(notas.values())

### Conjuntos

Os elementos de um conjunto não se repetem

Um set em Python é uma coleção de itens únicos (distintos)

* Adicionar um elemento no conjunto

In [ ]:
conjunto_vazio = set()  # cria um conjunto vazio

In [ ]:
type(conjunto_vazio)

In [ ]:
# Exemplo de criação de sets

numeros = [1, 2, 2, 3, 3, 3]  # aqui temos uma lista
numeros_distintos = set(numeros)  # transformamos a lista em um set
print("Números: ", numeros)
print("Números distintos: ", numeros_distintos)

Atenção! Para inserirmos um elemento em uma lista, podemos usar a função insert() ou a função append(), mas para inserirmos um elemento em um conjunto somente a função add( ) pode ser utilizada

In [ ]:
autores = {'José Saramago', 'Clarice Lispector', 'Miguel Torga'}

In [ ]:
type(autores)

In [ ]:
numeros = [1,2,3,5,12,1,1,1,1,2,3,1,1]

In [ ]:
type(numeros)

In [ ]:
set(numeros)

In [ ]:
type(numeros)

In [ ]:
novo_conjunto = set(numeros)
type(novo_conjunto)

* Remover um elemento do conjunto

Para remover um elemento de um **conjunto** em Python, podemos usar a função **remove**( ) ou a função **discard**( )

A função remove( ) deve ser usada somente se tivermos certeza que o elemento está presente no conjunto, pois se o elemento não estiver presente, a função remove( ) causa uma exceção.

In [ ]:
'Clarice Lispector' in autores

In [ ]:
autores.remove('Miguel Torga')
autores

In [ ]:
nums = set([1, 2, 2, 3, 3, 3])
print(nums)

In [ ]:
nums.remove(2)
print("Números: ", nums)

A função **discard()** remove um elemento do conjunto se o elemento estiver presente, mas não faz nada caso contrário.

In [ ]:
nums = set([1, 2, 2, 3, 3, 3])
nums.discard(4) 
nums.discard(2)
print(nums)

In [ ]:
autores.add('Cora Coralina')
autores.add('Edith Eger')
autores

In [ ]:
autores.discard('José Saramago')
autores

In [ ]:
nums = set([1, 2, 2, 3, 3, 3])
print("Números: ", nums)

nums.clear()  # remove todos os elementos. Pode ser usado em listas também
print("Números: ", nums)  # imprime um conjunto vazio - set()

*  UPDATE( )

O método update( ) atualiza um conjunto adicionando item de outros *iterables*

**conjunto.update(iterable)**

Iterable pode ser uma lista, um conjunto, um dicionário (chave), uma string.

In [ ]:
autores.update({'Pablo Neruda', 'Cecília Meireles'})
autores

In [ ]:
autores.update(["Dostoyevsky", "Tolstoi"])

In [ ]:
autores

#### Operações com conjuntos

In [ ]:
alunos_python = {"Ana", "Filipe", "Alfredo", 'Cristiane', 'Jorge', 'Davi'}
alunos_R = {'Augusto', "Marcela", 'Filipe', 'Alfredo'}

* Diferença entre conjuntos

In [ ]:
alunos_python - alunos_R  # está em A, mas não está em B

In [ ]:
alunos_python.difference(alunos_R)

* Interseção

In [ ]:
alunos_python & alunos_R  # está em A E está em B

In [ ]:
alunos_python.intersection(alunos_R)

* União: está em A OU está em B

In [ ]:
A = {0, 1, 3, 5, 7, 9} 
B = {0, 2, 4, 6, 8}
C = A.union(B)
print(C)

In [ ]:
A = {0, 1, 3, 5, 7, 9}
B = {0, 2, 4, 6, 8}
C = A | B 
print(C)

In [ ]:
alunos_python | alunos_R   # está em A OU está em B

In [ ]:
alunos_python.union(alunos_R)

* Diferença simétrica

In [ ]:
alunos_python.symmetric_difference(alunos_R)  # elementos que estão em A OU B, mas não estão na interseção

### Tipos de Dados

Python possui vários tipos básicos de dados: números inteiros (int), números de ponto flutuante (float), booleanos, números complexos, cadeias de caracteres, etc.

A função **type()** retorna o tipo do valor passado como parâmetro.

In [ ]:
nome = "João"

* Verifique os tipos das variáveis

In [ ]:
type(nome)

In [ ]:
type(4)

In [ ]:
type(2.3)

In [ ]:
type(autores)

### Cast

**Cast** é uma tecnica de conversão de tipos de um objeto

In [ ]:
v=input("informe um valor:")

In [ ]:
type(v)

In [ ]:
valor = int(input("Informe um valor inteiro: "))

In [ ]:
type(valor)

In [ ]:
autor = {"nome": "José", "sobrenome": "Saramago"}
#list(autor) # -> ???

In [ ]:
type(autor)

In [ ]:
autor_dict_para_lista = list(autor.values())
print(autor_dict_para_lista)

In [ ]:
numero = "9123"
#float(numero) # -> ???

In [ ]:
type(numero)

In [ ]:
numero = float(numero)
numero

In [ ]:
type(numero)

In [ ]:
numero_f = 12.9984
#complex(numero_f) # -> ???

In [ ]:
complexo = complex(numero_f)
complexo

### Strings

Strings são sequências (cadeias) de caracteres. Em outras palavras, uma string é simplesmente uma sequência de zero ou mais letras juntas.

In [ ]:
str_vazia = ""

In [ ]:
mensagem = "Olá mundo! Tudo bem?"

In [ ]:
type(str_vazia)

In [ ]:
mensagem[4]

In [ ]:
mensagem[4:10]

#### Manipulação de Strings

In [ ]:
# Imprimindo uma string.
s = "Olá, mundo, de novo!"
print(s)

In [ ]:
# Concatenação
print("A vida " + "é bela")

In [ ]:
# Substitui uma substring por alguma outra coisa.
s1 = s.replace("mundo", "turma")

In [ ]:
print(s1)

In [ ]:
# A string s começa com "Olá"?
print(s.startswith("Olá"))

In [ ]:
# A string s termina com "mundo"?
print(s.endswith("mundo"))

In [ ]:
# Quantas ocorrências da palavra "turma" a string s1 possui?
print(s1.count("turma"))

In [ ]:
#Escape Code

# \n ---> new line
# \t ---> tab
# \b ---> back space

In [ ]:
noticia= """O dólar opera em queda nesta quarta-feira (23), engatando sua quarta perda diária consecutiva com a manutenção de fluxos para o mercado doméstico, que oferece juros atrativos, apesar das preocupações internacionais com a crise na Ucrânia."""

In [ ]:
noticia

* Encontrar uma substring

In [ ]:
'dólar' in noticia

In [ ]:
noticia.find('Ucrânia')

* Deixar todas as letras maiúsculas

In [ ]:
# Todas as letras maiúsculas
noticia.upper()

In [ ]:
# Todas as letras minúsculas
noticia.lower()

In [ ]:
"embaixada brasileira em kiev orienta brasileiros".title()

In [ ]:
mensagem

In [ ]:
mensagem.split()

In [ ]:
print(len(mensagem)) #quantidade de caracteres
print(len(mensagem.split()))  # quantidade de palavras

####Strings e Listas

In [ ]:
# Converte uma string em uma lista.
string = list("Cinema Paradiso")
print(string)

In [ ]:
# Converte uma lista em uma string.
lista = ['C', 'i', 'n', 'e', 'm', 'a', ' ', 'P', 'a', 'r', 'a', 'd', 'i', 's', 'o']
print(''.join(lista))